.item {
  background-color: rgb(255, 255, 255);
  margin: 1rem 0;
  padding: 1rem 0;
  text-align: center;
  border-bottom: .2rem solid black;
}

.header{
  text-align: center;
  border-bottom: .2rem solid black;
  padding: 1rem 0;
}